n8n/postgres_data/
.DS_Store
jabber/xmpp-bridge/node_modules/
jabber/ejabberd_data/
node_modules/

.venv/
tigase/postgres/
tigase/tigase-server/logs/
openvpn/openvpn-data/
openvpn/asano.ovpn
n8n/tigase-db/
n8n/tigase-server/logs/
n8n/tigase-server/certs/
n8n/tigase-server/data/

n8n/letsencrypt/
n8n/tigase-server/etc/*
!n8n/tigase-server/etc/config.tdsl
